trimesh
pymeshlab
pygltflib
xatlas
open3d
omegaconf
pyyaml
configargparse
transformers
diffusers
accelerate
pytorch-lightning
opencv2-python
huggingface-hub
safetensors
scikit-image
pybind11
timm

meshlib
